<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.password">epebo</property>
        <property name="hibernate.connection.url">jdbc:postgresql:epebo</property>
        <property name="hibernate.connection.username">epebo</property>
        <property name="hibernate.default_schema">epebo</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        
        <mapping resource="org/pathwayeditor/businessobjects/hibernate/config/HibContext.hbm.xml" />
        <mapping resource="org/pathwayeditor/businessobjects/hibernate/config/HibProperty.hbm.xml" />
        <mapping resource="org/pathwayeditor/businessobjects/hibernate/config/HibObjectType.hbm.xml" />
        <mapping resource="org/pathwayeditor/businessobjects/hibernate/config/HibLinkEndDecorator.hbm.xml" />
        <mapping resource="org/pathwayeditor/businessobjects/hibernate/config/HibShape.hbm.xml" />
        <mapping resource="org/pathwayeditor/businessobjects/hibernate/config/HibLink.hbm.xml" />
        <mapping resource="org/pathwayeditor/businessobjects/hibernate/config/HibLabel.hbm.xml" />
        <mapping resource="org/pathwayeditor/businessobjects/hibernate/config/HibBendPoint.hbm.xml" />
        <mapping resource="org/pathwayeditor/businessobjects/hibernate/config/HibCanvas.hbm.xml" />
        <mapping resource="org/pathwayeditor/businessobjects/hibernate/config/HibLinkTerminus.hbm.xml" />
        <mapping resource="org/pathwayeditor/businessobjects/hibernate/config/HibLinkTerminusDecorator.hbm.xml" />
        <mapping resource="org/pathwayeditor/businessobjects/hibernate/config/HibFolder.hbm.xml" />
        <mapping resource="org/pathwayeditor/businessobjects/hibernate/config/HibMapDiagram.hbm.xml" />
        <mapping resource="org/pathwayeditor/businessobjects/hibernate/config/HibRepository.hbm.xml" />
        <mapping resource="org/pathwayeditor/businessobjects/hibernate/config/HibModel.hbm.xml" />
    </session-factory>
</hibernate-configuration>
